/*
 * Any copyright is dedicated to the Public Domain.
 * http://creativecommons.org/publicdomain/zero/1.0/
 */

:root {
  font-family: sans-serif;
}

.splitview-root,
.splitview-controller,
.splitview-main,
.splitview-nav-container,
.splitview-nav,
.splitview-side-details,
.splitview-details {
  display: -moz-box;
  -moz-box-flex: 1;
  -moz-box-orient: vertical;
}

.splitview-main {
  -moz-box-flex: 0;
}

.splitview-controller {
  min-height: 8em;
  max-height: 14em;
}

.splitview-filter {
  display: -moz-box;
  -moz-box-flex: 1;
  margin-left: 1ex;
}
.splitview-filter.splitview-all-filtered:focus {
  background-color: #eaa;
}

.splitview-nav-container {
  -moz-box-pack: center;
  margin: 4px;
  margin-bottom: 0.5em;
  border: 1px inset WindowFrame;
  border-radius: 4px;
  background-color: -moz-default-background-color;
  color: -moz-default-color;
}

ol.splitview-nav {
  overflow-x: hidden;
  overflow-y: auto;
  list-style-image: none;
  list-style: none;
  padding: 0;
  margin: 0;
}
ol.splitview-nav:focus {
  outline: 0; /* focusable only for focus stealing */
}

ol.splitview-nav > li {
  display: -moz-box;
  -moz-box-orient: vertical;
  outline: 0;
  border-radius: 4px;
  border-bottom: 1px solid -moz-cellhighlight;
  padding: 2px;
  padding-top: 4px;
  vertical-align: bottom;
  -moz-transition-property: background-color, max-height;
  -moz-transition-duration: 1s;
  max-height: 2048px; /* for slide transition */
}
ol.splitview-nav > li.splitview-active {
  background-color: rgb(225,235,251); /* same as SourceEditor gutter */
}
ol.splitview-nav > li:hover, ol.splitview-nav > li:focus {
  background-color: rgb(240,245,253);
}
ol.splitview-nav > li.splitview-flash {
  background-color: #faf0e1; /* complement of active color #e1ebfb */
}
ol.splitview-nav > li.splitview-slide {
  max-height: 0;
  overflow: hidden;
}

.splitview-side-details {
  -moz-box-flex: 1;
  margin: 4px;
}

.splitview-side-details > .splitview-active {
  display: -moz-box;
}

.splitview-nav.splitview-all-filtered ~ .splitview-nav.placeholder.all-filtered,
.splitview-nav:empty ~ .splitview-nav.placeholder.empty {
  -moz-box-flex: 0;
  text-align: center;
}

/* this is to keep in sync with SplitView.jsm's LANDSCAPE_MEDIA_QUERY */
@media (min-aspect-ratio: 5/3) {
  .splitview-root {
    -moz-box-orient: horizontal;
  }
  .splitview-controller {
    -moz-box-flex: 0;
    max-height: none;
  }
  .splitview-details {
    display: none;
  }
  .splitview-details.splitview-active {
    display: -moz-box;
  }
}

.splitview-main .toolbar, .splitview-main .toolbar > * {
  display: -moz-box;
}
.splitview-main .toolbar {
  -moz-box-flex: 0;
  -moz-box-orient: horizontal;
  padding-left: 4px;
  padding-right: 4px;
}

.spacer {
  -moz-box-flex: 1;
}

/* chrome fixes */
a {
  color: -moz-hyperlinktext;
  text-decoration: underline;
}
