/*
 * Any copyright is dedicated to the Public Domain.
 * http://creativecommons.org/publicdomain/zero/1.0/
 */

.splitview-nav > li, .splitview-nav > li hgroup {
  float: left;
}
.splitview-nav > li > hgroup.stylesheet-info {
  max-width: 66%;
}
.splitview-nav > li > hgroup .stylesheet-name {
  display: inline-block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.splitview-nav > li.unsaved > hgroup .stylesheet-name {
  font-style: italic;
}
.splitview-nav > li.unsaved > hgroup .stylesheet-name:before {
  font-style: italic;
  content: "* ";
}

.splitview-nav > li > .stylesheet-enabled {
  float: left;
  width: 20px;
  height: 20px;
  margin-right: 6px;
  border: 1px solid transparent;
  background-image: url(eye-toggle.png);
  background-position: center center;
  background-repeat: no-repeat;
}
.splitview-nav > li.disabled > .stylesheet-enabled {
  background-image: none;
}
.splitview-nav > li > .stylesheet-enabled:focus,
.splitview-nav > li:hover > .stylesheet-enabled {
  outline: 0;
  border: 1px inset WindowFrame;
  margin-right: 6px;
}

.splitview-nav > li hgroup .stylesheet-title {
  color: gray;
}

.splitview-nav > li hgroup > .stylesheet-error-message {
  display: none;
}
.splitview-nav > li.error hgroup > .stylesheet-error-message {
  display: block;
  color: red;
}

.splitview-nav > li > .stylesheet-more {
  position: relative;
  right: 0;
}
.splitview-nav > li hgroup.stylesheet-stats,
.splitview-nav > li hgroup.stylesheet-actions {
  position: absolute;
  z-index: 2;
  right: -100px;
  -moz-transition: right 0.2s ease-in-out;
  -moz-transition-delay: 0.2s;
}
.splitview-nav > li hgroup.stylesheet-stats {
  z-index: 1;
  right: 4px;
  -moz-transition-delay: 0.4s;
}
.splitview-nav > li hgroup.stylesheet-actions a {
  padding-left: 1ex; /* Fitts */
  padding-right: 1ex;
  color: black;
}
.splitview-nav > li:hover hgroup.stylesheet-stats,
.splitview-nav > li:focus hgroup.stylesheet-stats,
.splitview-nav > li.splitview-active hgroup.stylesheet-stats {
  right: -100px;
}
.splitview-nav > li:hover hgroup.stylesheet-actions,
.splitview-nav > li:focus hgroup.stylesheet-actions,
.splitview-nav > li.splitview-active hgroup.stylesheet-actions {
  right: 4px;
}

.stylesheet-editor-input {
  display: -moz-box;
  -moz-box-flex: 1;
  min-height: 8em;
  padding-top: 3px;
  padding-bottom: 3px;
  border: 1px inset WindowFrame;
  border-radius: 4px;
  background-color: -moz-default-background-color;
}

/* limited width mode (hide search unless it has focus [search-on-type]) */
@media (max-width: 250px) {
  .splitview-filter {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: -2em;
    -moz-transition-property: bottom;
    -moz-transition-duration: 0.5s;
  }
  .splitview-filter:focus {
    bottom: 0em;
  }
}

h1,
h2,
h3 {
  font-weight: normal;
  margin: 0;
  padding: 0;
  font-size: 0.9em;
}

.hud {
  -moz-box-pack: center;
  -moz-box-align: center;
  pointer-events: none;
}

.hud > .color-sampling-ring {
  position: absolute;
  pointer-events: none;
  overflow:hidden;
  border-width: 16px;
  border-radius: 60px;
  border-color: rgb(128,128,128);
  border-style: solid;
  -moz-transition-duration: 0.2s;
  -moz-transition-property: width, height, border-radius, border-width, border-color;
}
.hud > .color-sampling-ring > * {
  position: relative;
  width: 40px;
  height: 20px;
  -moz-transition-duration: inherit;
  -moz-transition-property: background-color;
}
.hud > .color-sampling-ring.hidden {
  border-width: 0;
  border-radius: 0;
}
.hud > .color-sampling-ring.hidden > * {
  width: 0;
  height: 0;
}
