/*
 * Any copyright is dedicated to the Public Domain.
 * http://creativecommons.org/publicdomain/zero/1.0/
 */

.stylesheet-name {
  display: inline-block;
  max-width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre;
}
.unsaved .stylesheet-name {
  font-style: italic;
}
.unsaved .stylesheet-name:before {
  content: "* ";
}

.splitview-nav hgroup {
  float: left;
  margin-top: 4px; /* align with toggle */
}
.splitview-nav .stylesheet-more {
  position: relative;
  right: 0;
}

.splitview-nav hgroup.stylesheet-stats,
.splitview-nav hgroup.stylesheet-actions {
  position: absolute;
  z-index: 2;
  right: -100px;
  -moz-transition: right 0.2s ease-in-out;
  -moz-transition-delay: 0.2s;
}
.splitview-nav hgroup.stylesheet-stats {
  z-index: 1;
  right: 4px;
  -moz-transition-delay: 0.4s;
}
.splitview-nav hgroup.stylesheet-actions a {
  padding-left: 1ex; /* Fitts */
  padding-right: 1ex;
  color: black;
}
.splitview-nav > li:hover hgroup.stylesheet-stats,
.splitview-nav > li:focus hgroup.stylesheet-stats,
.splitview-nav > li.splitview-active hgroup.stylesheet-stats {
  right: -100px;
}
.splitview-nav > li:hover hgroup.stylesheet-actions,
.splitview-nav > li:focus hgroup.stylesheet-actions,
.splitview-nav > li.splitview-active hgroup.stylesheet-actions {
  right: 4px;
}

h1, h2, h3 {
  font-weight: normal;
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 0.9em;
}
h2, h3 {
  font-size: 0.8em;
}

.stylesheet-enabled {
  float: left;
  width: 20px;
  height: 20px;
  margin-right: 6px;
  border: 1px solid transparent;
  background-image: url(gimp-eye.png);
  background-position: center center;
  background-repeat: no-repeat;
}
.disabled .stylesheet-enabled {
  background-image: none;
}

.stylesheet-enabled:focus, li:hover .stylesheet-enabled {
  outline: 0;
  border: 1px inset WindowFrame;
  margin-right: 6px;
}

.stylesheet-title {
  color: gray;
}

.stylesheet-error-message {
  display: none;
}
.error .stylesheet-error-message {
  display: block;
  color: red;
}

.stylesheet-editor-input {
  display: -moz-box;
  -moz-box-flex: 1;
  min-height: 8em;
  padding-top: 3px;
  padding-bottom: 3px;
  border: 1px inset WindowFrame;
  border-radius: 4px;
  background-color: -moz-default-background-color;
}

/* limited width mode (hide search unless it has focus [search-on-type]) */
@media (max-width: 250px) {
  .splitview-filter {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: -2em;
    -moz-transition-property: bottom;
    -moz-transition-duration: 0.5s;
  }
  .splitview-filter:focus {
    bottom: 0em;
  }
  .stylesheet-editor-input {
    margin: 0;
  }
}
